:root {
    --color: rgb(113, 113, 255);
    --color2: rgb(215, 215, 255);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    background-color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.civil {
    background-color: var(--color2);
    border-radius: 5px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
}

.labor {
    height: 50px;
    background-color: var(--color2);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

.lenguajes {
    height: 50px;
    background-color: var(--color2);
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    box-sizing: border-box;
}

.names {
    display: flex;
    justify-content: space-between;
    width: 384px;
    height: 30px;
    align-content: stretch;
}

.names1 {
    border-radius: 5px;
    width: 180px;
    border: none;
    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
}

.docs {
    display: flex;
    justify-content: space-between;
    width: 384px;
    height: 30px;
    align-content: stretch;
}

.docs1 {
    border-radius: 5px;
    width: 180px;
    border: none;
    background-color: var(--color2);
}

.docs2 {
    width: 184px;
    height: 30px;
}

.email {
    display: flex;
    justify-content: space-between;
    width: 384px;
    height: 30px;
    align-content: stretch;
}

.email1 {
    border-radius: 5px;
    width: 180px;
    border: none;
    background-color: var(--color2);
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    border-radius: 5px;
    width: 380px;
    height: 30px;
    border: none;
    background-color: var(--color2);
}

.text {
    border-radius: 5px;
    width: 380px;
    height: 50px;
    border: none;
    background-color: var(--color2);
}

.button {
    width: 384px;
    height: 25px;
    background-color: var(--color2);
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
.button:hover {
    border: 2px;
    border-style: solid;
    border-color: black;
}

@media (max-width: 1024px) {
    .form {
        width: 310px;
    }

    .names1, .docs1, .docs2,.email1 {
        width: 140px;
    }

    .button, .names, .docs, .email {
        width: 295px;
    }

    .link, .text {
        width: 290px;
    } 
}






